@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*Seletor universal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

/*Me permite chamar uma variavel dentro do css*/
:root {
    --yellow: #EF9443;
    --white: #fff;
    --blue: #160085;
    --ame: #DC0055;

}

body {
    color: var(--dark);
    background: var(--white);
}

body .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--ame);
    clip-path: circle(50% at bottom right);
    z-index: -2;

}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--ame);
    transition: all 0.5s;
   
}

/*Garantir o alinhamento horizontal*/
.navigation ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

/*edição das opções do menu*/
.navigation ul li a {
    color: var(--white);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

/*Mudar a cor ao passar o mouse*/
.navigation ul li a:hover {
    color: var(--yellow);
}

/*Cursor menu*/
.menu {
    cursor: pointer;
    display: none;
    /*esta escondendo o menu bar*/
}

/*Opção domenu responsivo*/
.menu .bar {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background: var(--yellow);
    margin: 5px auto;
    transition: all 0.3s; 
}

/*Hero banner: organização do posicionamento*/
.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

/*Para que o texto respeite uma largura maxima*/
.home-text {
    max-width: 37rem;
}

/*Edição de aparencia do texto*/
.home-text .text-h4 {
    font-size: 1.5rem;
    color: var(--ame);
    margin-bottom: 1rem;
}

/*Edição de aparencia do texto*/
.home-text .text-h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

/*Edição de aparencia do texto*/
.home-text p {
    margin-bottom: 4rem;
}

/*Edição de botão do hero banner*/
.home-btn {
    padding: 15px 45px;
    background: var(--ame);
    color: var(--white);
    border-radius: 40px;
    font-weight: 700;
    transition: all 0.5s;
}

/*Mudar a cor do botão ao passar mouse por cima*/
.home-btn:hover {
    color: var(--white);
    background: var(--blue);
}

/*Posicionamentode img*/
.home-img {
    position: absolute;
    right: -200px;
    bottom: -40px;
    z-index: -1;
}

/*Tamanho da img*/
.home-img img {
    width: 90%;
}

.d-block {
    object-fit: cover;
    width: 100%;
    height: 558px;
    margin-bottom: 20px;
}

footer{
    background-color: #313647;
    padding: 10px 0;
      
}
.container-footer img{ 
width: 200px;
padding: 20px 10px;
}
.imgFooter{
align-items: center;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 1.25rem;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size:  0.875rem;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}
footer-col .medias-socias{
    margin-top: 30px;
}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 20px;
}

.footer-col .medias-socias a:hover{
    color: #415aca;
    background-color: white;
}
.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: #415aca;
}
.footer-col .form-sub input::placeholder{
    color: white;
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #415aca;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;   
    margin-bottom: -10rem;     
}
/* p {
    text-align: center;
    margin-top: 0;
    margin-bottom: -10rem;
    padding: 30px;
    color: var(--white);
} */

